---
---

@import "{{ site.theme }}";

body {
    color:white;
    background-color: rgba(0,0,0,0.75);
}

#content {  
    background-image: url('assets/img/linebackground.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header {
    background-color: #333;
    background-image: none;
    padding: 3rem 6rem;
    filter: drop-shadow(0 0 0.7rem #333)
}

.project-name {
    text-align: left;
    font-size: 2.25rem;
    vertical-align: middle;
}

.nameCont {
    line-height: 1;
    vertical-align: middle;
    margin-left:0.5rem;
}